<h1>AWS</h1>
<p>Qual tipo de máquina você gostaria de utilizar?</p>

<button class="btn btn-primary"><%= link_to 'Tipo 1', awstipo1_path %></button>
<button class="btn btn-primary"><%= link_to 'Tipo 2', awstipo2_path %></button>
<button class="btn btn-primary"><%= link_to 'Tipo 3', awstipo3_path %></button>

<button class="btn btn-primary"><%= link_to 'Página inicial', root_path %></button>