<h1>Escolha a nuvem que deseja criar seus recursos</h1>

<button class="btn btn-primary"><%= link_to 'Página Azure', azure_path %></button>
<button class="btn btn-primary"><%= link_to 'Página AWS', aws_path %></button>
<button class="btn btn-primary"><%= link_to 'Página GCP', gcp_path %></button>
